@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins/Poppins-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins/Poppins-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins/Poppins-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: Poppins, sans-serif !important;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background-color: #ffffff;
  font-style: normal;
  color: #000000;
}

.swiper-pagination {
  position: absolute !important;
  bottom: 6% !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 10;
  gap: 10px !important;
}

.swiper-pagination-bullet {
  background-color: #000 !important;
  opacity: 1 !important;
  width: 8px !important;
  height: 8px !important;
  margin: 0 6px !important;
  border-radius: 50%;
  position: relative;
  transition: transform 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #000;
}

.swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  width: 26px !important;
  height: 26px !important;
  border: 1px solid #000;
  border-top-color: transparent;
  border-radius: 50%;
  transition: all .25s cubic-bezier(0, 0, .76, 1);
  animation: rotateRing 1.5s linear infinite;
}

/* Rotation animation */
@keyframes rotateRing {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.custom-select {
  width: 100%;
  height: 56px !important;
  border-radius: 9999px !important;
  background-color: white;
  border: 1px solid #e5e7eb !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  display: flex;
  align-items: center;
  box-shadow: none !important;
}

.custom-select .ant-select-selector {
  height: 56px !important;
  border: none !important;
  box-shadow: none !important;
  display: flex;
  align-items: center;
  background: transparent;
}

.custom-select .ant-select-selection-placeholder {
  color: #111;
  font-weight: 500;
}

.custom-select-dropdown {
  border-radius: 12px;
}

/* Custom active menu color for AntD dark menu */
.custom-ant-menu .ant-menu-item-selected {
  background: #111 !important;
  color: #fff !important;
}

.custom-ant-menu .ant-menu-item-selected:hover {
  background: #111 !important;
  color: #fff !important;
}

.custom-ant-menu .ant-menu-item-selected .anticon {
  color: #fff !important;
}

.ant-input:focus,
.ant-input-focused,
.ant-input:active,
.ant-select-selection-search-input:focus,
.ant-select-selection-search-input-focused,
.ant-select-selection-search-input:active {
  border-color: #111 !important;
  box-shadow: none !important;
}

/* Submenu ul background black */
.custom-ant-menu .ant-menu-submenu>.ant-menu-sub {
  background-color: #000 !important;
}

/* Submenu item hover */
.custom-ant-menu .ant-menu-submenu .ant-menu-item:hover {
  background-color: #111 !important;
}

.custom-ant-menu .ant-menu-submenu .ant-menu-item-selected {
  background-color: #222 !important;
  color: #fff !important;
}

@keyframes slideUp {
  from { transform: translateY(100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
.animate-slideUp {
  animation: slideUp 0.4s ease-in-out;
}

.custom-swiper-button-next{
  background-color: white !important;
}